html {
  background-color: silver;
  color: green;
}
.header {
  border: green solid;
  text-align: center;
  font-size: 35px;
  font-family: fantasy;
  font-weight: bold;

}
.raw {
  font-size: 28px;
  font-family: fantasy;

}
.smackdown {
  font-size: 28px;
  font-family: fantasy;

}
.nxt {
  font-size: 28px;
  font-family: fantasy;

}
.ppv {
  font-size: 28px;
  font-family: fantasy;
}
li {
  font-size: 18px;
}
